# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.db binary
*.AppImage binary
*.exe binary
*.dmg binary
*.deb binary
*.7z binary
*.zip binary
*.tar.gz binary
